body {
	background-color: #D2B48C;
}

.page1_header {
	color: red;
}

.page2_header {
	color: yellow;
}

.page3_header {
	color: green;
}

#text_div {
	width: 800px;
	border: 2px solid black;
	text-align: left;
	margin-left: 100px;
	margin-bottom: 20px;
	padding: 10px;
}